/**
//////////////////////////////
IMPORT EXTERNAL LIBRARIES AND SASS FILES
//////////////////////////////
**/

@import "variables/mixins";
@import "variables/grid";
@import "variables/config";

@import "base/reset";
@import "base/typography";
@import "base/media";
@import "base/forms";
@import "base/tables";
@import "base/grid";

/**
//////////////////////////////
IMPORT COMPONENTS
//////////////////////////////
**/
@import "components/main-nav";
@import "components/content";
@import "components/footer";
@import "components/buttons";

//@include transition(all, 0.3s, ease-out);

/**
//////////////////////////////
GENERAL CSS
//////////////////////////////
**/
html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background: #fff;
	color: #333;
	min-height: 100%;
	//overflow-y: hidden;
	overflow-x: hidden;
	&.auto{
		overflow-y: auto;
	}
	@include breakpoint($narrow){
		overflow-y: auto;
	}
}

/**
//////////////////////////////
HELPERS
//////////////////////////////
**/
.desktop,
.responsive.desktop{
	@include breakpoint($narrow){
		display: none;
	}
}

.mobile,
.responsive.mobile{
	display: none;
	@include breakpoint($narrow){
		display: block;
	}
}

